@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-hero: var(--font-newsreader), serif;


}

@media (prefers-color-scheme: dark) {
  :root { --background: #0a0a0a; --foreground: #ededed; }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Fraunces referansını kaldır; varsayılanı sans yap */
  font-family: var(--font-geist-sans), system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}

/* İçi beyaz, dışı güçlü pembe glow */
.neon-strong {
  color: #fff;
  text-shadow:
    0 0 20px rgb(161, 7, 104, 1 ),
    0 0 40px rgba(161, 7, 104, .9),
    0 0 80px rgba(161, 7, 104, .8),
    0 0 160px rgba(161, 7, 104, .7),
    0 0 240px rgba(161, 7, 104, .6),
    0 0 320px rgba(161, 7, 104, .5);
}




/* Arkada diffuse halo */
.neon-soft-wrap {
  position: relative;
  display: inline-block;
}
.neon-soft-wrap::before {
  content: "";
  position: absolute;
  inset: -25% -15% -25% -15%;
  background: radial-gradient(
    40% 60% at 50% 50%,
    rgba(255, 96, 188, .4),
    rgba(255, 96, 188, .2) 40%,
    transparent 70%
  );
  filter: blur(60px);
  z-index: -1;
}
